{% extends "base.html" %}
{%block title%}Home{% endblock %}
{%block content %}


{% for picture in pictures %}
<div class="card bg-dark text-white" style = "display: flex; align-items:center; justify-content: center;">

  <img src="{{url_for('static', filename = "uploads/" +picture.pic_path)}}" class="card-img" alt="..." style = " width: 500px;; height:500px; margin-bottom: 15px;">
  <div class="card-img-overlay">
    <h2 class="card-title">{{picture.description}}</h2>
  </div>
</div>
{% endfor %}
  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
{% for picture in pictures%}
      <img src="{{url_for('static', filename = "uploads/" + picture.pic_path)}}" class="d-block w-50" alt="..." style= "display:inline-block; width: 400px; height: 400px">

    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename = "uploads/" + "bride11.jpg")}}" class="d-block w-80" alt="..." style="width:700px; height:700px;  display: flex;
        justify-content: center;">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-9/118923711_1231512653882299_7762165468587678973_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=2Lebj6wz6SMAX8qQxk6&_nc_ht=scontent.ftlv6-1.fna&oh=ba1ce1d5a805d7eeec05de403331be91&oe=603353B9" class="d-block " alt="..." style="width:500px; height:500px;">
{% endfor %}
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div> -->
  <!-- <div class = "pictures" style = "display: inline-block;">
    <div class="card" style="width: 18rem;border: none;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    <div class="card" style="width: 18rem;border: none;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
      <div class="card" style="width: 18rem; border: none;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{%endblock %}
